<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>


<%= link_to 'Edit', edit_user_event_path(@event.user, @event) %> |
<%= link_to 'Back', user_events_path(@event.user) %>
